<!DOCTYPE html>
<html lang="en">

<head>
    <% include templates/head.ejs %>
</head>

<body>
    <!-- START PAGE CONTAINER -->
    <div class="page-container">

        <% include templates/sidebar.ejs %>

            <!-- PAGE CONTENT -->
            <div class="page-content">

                <% include templates/xnavigation.ejs %>


                    <!-- PAGE CONTENT WRAPPER -->
                    <div class="page-content-wrap">

                        <div class="row">
                            <div class="col-md-12">

                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <form method="post" action="/upload">
                                            <div>
                                                <h3>Team 1</h3>
                                                <input type="text" name="teams[team1][teamname]">
                                                <input type="number" name="teams[team1][teamnumber]">
                                            </div>

                                        </form>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                    <!-- END PAGE CONTENT WRAPPER -->
            </div>
            <!-- END PAGE CONTENT -->
    </div>
    <!-- END PAGE CONTAINER -->

    <% include templates/logoutMessagebox.ejs %>

        <% include templates/footer.ejs%>

</body>

</html>
