<!DOCTYPE html>
<html lang="en">

<head>
    <% include templates/head.ejs %>

    <script>
        function Shooting() {
            console.log("SHOT!");
            return {
                "meta_data": {
                    "teamNumber": <%- JSON.stringify(teamNumber) %>,
                    "gameId": <%- JSON.stringify(gameId) %>
                },
                "startTime": 1,// videoCurrentTime,
                "endTime": null,
                "timeTook": null,
                "location": null, // Can be: "low" || "high"
                "status": null, // Can be: "success" || "fail"
                "failReason": null // Can be: TODO: add fail reasons codes for shooting events
            }
        }

        shooting = null;
        buttonIds = ['shooting', 'pickup', 'gearplace', 'chassisfight', 'climb', 'stuck'];

        function shooting_start() {
            shooting = Shooting();
            hideAllButtons();
        }

        function hideAllButtons() {
            buttonIds.forEach(function(buttonId) {
                $('#' + buttonId).addClass('hidden');
            })
        }

        function showAllButtons() {
            buttonIds.forEach(function(buttonId) {
                $('#' + buttonId).removeClass('hidden');
            })
        }

        function showbigEventDiv() {

        }
    </script>
</head>

<body>
<!-- START PAGE CONTAINER -->
<div class="page-container page-navigation-toggled">

    <% include templates/sidebar.ejs %>

    <!-- PAGE CONTENT -->
    <div class="page-content">

        <% include templates/xnavigation.ejs %>


        <script>
            $(window).keypress(function(e) {
                var video = document.getElementById("gameVideo");
                if (e.which == 32 && e.target == document.body) {
                    e.preventDefault();
                    if (video.paused == true)
                        video.play();
                    else
                        video.pause();
                } else if (e.which == 61 && e.target == document.body) {
                    skip(+5);
                } else if (e.which == 45 && e.target == document.body) {
                    skip(-5);
                }
            });
        </script>
        <!-- PAGE CONTENT WRAPPER -->
        <div class="page-content-wrap">

            <div class="row">
                <div class="col-md-12">

                    <div class="panel panel-default">
                        <div class="panel-body">
                            <video id="gameVideo" style="display: block; margin: auto; width:70vw; height:80vh; margin-bottom: 1vh;" controls>
                                Your browser does not support the video tag.
                            </video>

                            <div class="form-group">
                                <div class="col-sm-2">
                                    <button id="shooting" class="btn btn-info btn-block" style="height: 10vh; font-size: xx-large" onclick="shooting_start()">Shooting</button>
                                </div>
                                <div class="col-sm-2">
                                    <button id="pickup" class="btn btn-info btn-block" style="height: 10vh; font-size: xx-large">Pick Up</button>
                                </div>
                                <div class="col-sm-2">
                                    <button id="gearplace" class="btn btn-info btn-block" style="height: 10vh; font-size: xx-large">Gear Place</button>
                                </div>
                                <div class="col-sm-2">
                                    <button id="chassisfight" class="btn btn-info btn-block" style="height: 10vh; font-size: xx-large">Chassis Fight</button>
                                </div>
                                <div class="col-sm-2">
                                    <button id="climb" class="btn btn-info btn-block" style="height: 10vh; font-size: xx-large">Climb</button>
                                </div>
                                <div class="col-sm-2">
                                    <button id="stuck" class="btn btn-info btn-block" style="height: 10vh; font-size: xx-large">Stuck</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <!-- END PAGE CONTENT WRAPPER -->
    </div>
    <!-- END PAGE CONTENT -->
</div>
<!-- END PAGE CONTAINER -->

<% include templates/logoutMessagebox.ejs %>

<% include templates/footer.ejs%>

<script type="text/javascript">
    gameId = <%= gameId %>
</script>
<script src="/js/scouting/binary.js"></script>
<script src="/js/scouting/common.js"></script>
<script src="/js/scouting/video.js"></script>
<script src="/js/scouting/main.js"></script>

</body>

</html>
