<!DOCTYPE html>
<html lang="en">

<head>
    <% include templates/head.ejs %>
</head>

<body>
<!-- START PAGE CONTAINER -->
<div class="page-container">

    <% include templates/sidebar.ejs %>

    <!-- PAGE CONTENT -->
    <div class="page-content">

        <% include templates/xnavigation.ejs%>

        <!-- START BREADCRUMB -->
        <ul class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#">Forms Stuff</a></li>
            <li><a href="#">Form Layout</a></li>
            <li class="active">One Column</li>
        </ul>
        <!-- END BREADCRUMB -->

        <!-- PAGE CONTENT WRAPPER -->
        <div class="page-content-wrap">

            <div class="row">
                <div class="col-md-12">

                    <h1>
                        Scouting guide
                    </h1>

                    <h2>
                        Introduction
                    </h2>

                    <h2>
                        Inserting inputs
                    </h2>

                    <h2>
                        Observing outputs
                    </h2>
                   <%
                        var events = JSON.parse(JSON.stringify(events));
                        console.log(JSON.stringify(events));

                        var shooting_data_per_team = {}
                        for(var e in events) {
                            var event = events[e];
                            var event_data = event['_source']
                            var teamNumber = event_data['teamNumber']
                            if (event['_type'] == 'gearplace' && event_data['status'] == 'Success') {
                               var count, gameIds;
                               if(teamNumber in shooting_data_per_team) {
                                   console.log(shooting_data_per_team[teamNumber]);
                                   count = shooting_data_per_team[teamNumber]['count'] + 1;
                                   gameIds = shooting_data_per_team[teamNumber]['game_ids']
                                   gameIds.add(event_data['gameId'])
                               } else {
                                   count = 1
                                   gameIds = new Set([event_data['gameId']])
                               }
                               shooting_data_per_team[teamNumber] = {
                                   'count': count,
                                   'game_ids': gameIds
                               }
                            }
                        }


                        var top_teams = [];
                        var averageShootingPerTeam = {};
                        for(var teamNumber in shooting_data_per_team) {
                            var teamData = shooting_data_per_team[teamNumber];
                            top_teams.push({
                                'teamNumber': teamNumber,
                                'average': teamData['count'] / teamData['game_ids'].size
                            });
                        }

                        top_teams.sort(function (a, b) {
                            return b['average'] - a['average'];
                        });

                        console.log("top teams:", top_teams);
                   %>
                    <p><%= JSON.stringify(top_teams) %></p>
       <!-- PAGE CONTENT WRAPPER -->
                <div class="page-content-wrap">                
                
                    <div class="row">
                        <div class="col-md-12">

                            <!-- START DEFAULT DATATABLE -->
                            <div class="panel panel-default">
                                <div class="panel-heading">                                
                                    <h3 class="panel-title">Default</h3>
                                    <ul class="panel-controls">
                                        <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
                                        <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                                        <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
                                    </ul>                                
                                </div>
                                <div class="panel-body">
                                    <table class="table datatable">
                                        <thead>
                                            <tr>
                                                <th>Team Number</th>
                                                <th>Avg. Gear-Place Success / game</th>
                                                <th>Climb success rate</th>
                                                <th>Average Climb Duration</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Tiger Nixon</td>
                                                <td>System Architect</td>
                                                <td>Edinburgh</td>
                                                <td>61</td>
                                            </tr>
                                            <tr>
                                                <td>Garrett Winters</td>
                                                <td>Accountant</td>
                                                <td>Tokyo</td>
                                                <td>63</td>
                                            </tr>
                                            <tr>
                                                <td>Ashton Cox</td>
                                                <td>Junior Technical Author</td>
                                                <td>San Francisco</td>
                                                <td>66</td>
                                            </tr>
                                            <tr>
                                                <td>Cedric Kelly</td>
                                                <td>Senior Javascript Developer</td>
                                                <td>Edinburgh</td>
                                                <td>22</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- END DEFAULT DATATABLE -->
                        </div>
                    </div>                                
                    
>>>>>>> 7c361ec1a9e34d3bd0d92a6262d1da6a6017360f
                </div>
                <!-- PAGE CONTENT WRAPPER -->
        <!-- END PAGE CONTENT WRAPPER -->
    </div>
    <!-- END PAGE CONTENT -->
</div>
<!-- END PAGE CONTAINER -->

<!-- START PRELOADS -->
<audio id="audio-alert" src="audio/alert.mp3" preload="auto"></audio>
<audio id="audio-fail" src="audio/fail.mp3" preload="auto"></audio>
<!-- END PRELOADS -->

<!-- START SCRIPTS -->
<!-- START PLUGINS -->
<script type="text/javascript" src="js/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript" src="js/plugins/jquery/jquery-ui.min.js"></script>
<script type="text/javascript" src="js/plugins/bootstrap/bootstrap.min.js"></script>
<!-- END PLUGINS -->

<!-- THIS PAGE PLUGINS -->
<script type='text/javascript' src='js/plugins/icheck/icheck.min.js'></script>
<script type="text/javascript" src="js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js"></script>

<script type="text/javascript" src="js/plugins/datatables/jquery.dataTables.min.js"></script>    
<!-- END PAGE PLUGINS -->

<!-- START TEMPLATE -->
<script type="text/javascript" src="js/settings.js"></script>

<script type="text/javascript" src="js/plugins.js"></script>
<script type="text/javascript" src="js/actions.js"></script>
<!-- END TEMPLATE -->

<!-- END SCRIPTS -->

</body>

</html>
