.wrapper{
    position: relative;
}

.content{

}

.background{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    overflow: hidden;
}

.games-team {
    font-weight: bolder;
    font-size: 459%!important;
}

.red-team {
    color: red!important;
}

.blue-team {
    color: blue!important;
}