.wrapper{
    position: relative;
}

.content{

}

.background{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    overflow: hidden;
}

.game-title {
    font-weight: bolder;
    font-size: 300%!important;
    color:green!important;
    text-align:center;
    vertical-align: middle;
    position: relative;
    transform: translateY(50%);
}

.games-team {
    font-weight: bolder;
    font-size: 459%!important;
}

.red-team {
    color: red!important;
}

.blue-team {
    color: blue!important;
}
